.container{ margin-bottom: 60px;}
.orange-bg{background-color: #FBEAE9;
border-radius: 10px;
}
.carousel-item{
padding: 20px 40px;


}
.price{ color: #FF126F;
}
.buy-now{ 
background-image: linear-gradient(to bottom,#FF589B 0%, #FF589B 100%);
color: #FFF;
border: none;
border-radius: 8px;
padding: 9px 25px;
cursor: pointer;
}
.cat1, .cat2, .cat3{padding: 10px 30px;
border-radius: 15px;
}
.cat1{ background-color: orangered;
    
}
.cat2{background-color: purple;
}
.cat3{background-color: cyan;}

.catagories h1{
    color: white;

}
.catagories img{ width:100px}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{background-color: white;
border-top: none;
}
#subscribe{
height: 300px;

}

#subscribe h6{ color: gray;}
footer{ text-align: center;}
